.b { -fx-backgound-color: #FFFFFF; }
.w { -fx-background-color: #CCCCCC; }
.topLetters { -fx-background-color: #FF00FF; }
.bottomLetters { -fx-background-color: #FF00FF; }
.leftNumbers { -fx-background-color: #FF00FF; }
.rightNumbers { -fx-background-color: #FF00FF; }
